@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amaranth', sans-serif;
}
body
{
    background-color: rgb(252, 237, 240);
}
html
{
    font-size: 62.5%;
}
.maindiv
{   
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1
{
    font-size: 4.5rem;
    color:rgb(252, 58, 90);
}
i
{
    margin: 2rem;
}
table
{
    width: 100%;
    border: 2px solid rgb(252, 58, 90);
    border-radius: 0 0 2rem 0;
    font-size: 1.8rem;
    margin: 1.8rem;
    padding: 1rem;
}
td, th
{
    padding: 0.5rem 3rem;
    margin: 0.5rem 1rem;
}
.innerdiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn
{
    margin: 1rem;
    color: whitesmoke;
    background-color: rgb(253, 58, 90);
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    width: 130%;
    border: 2px solid rgb(253, 58, 90);
    border-radius: 1rem;
    outline: none;
    font-weight: 800;
    text-align: center;
}
.btn:hover
{
    background-color: pink;
    color: rgb(252, 58, 90);
}
a
{
    text-decoration: none;
}